In [19]:
import glob
import json
import os

import pandas as pd

In [ ]:
def get_df_from_json_folder(folder: str) -> pd.DataFrame:
    """Get dataframe from a folder containing json"""
    # Create an empty list to hold the DataFrames
    data = []

    # Loop over all JSON files in the folder
    for filename in glob.glob('../data/accelerometer/*.json'):
        with open(filename, 'r') as f:
            # Read the file and create a list of dictionaries from the weirdly formed JSON objects
            combined_json_data = f.read().replace('}{', '}},{{').split('},{')
            for json_data in combined_json_data:
                try:
                    dictionnairy = json.loads(json_data)
                    data.append(dictionnairy)
                except json.decoder.JSONDecodeError:
                    print(filename)
                    print(json_data)
                    continue

    # Create a DataFrame from the list of dictionaries
    df = pd.DataFrame(data)
        
    return df

In [ ]:
data = []

In [26]:
# Create an empty list to hold the DataFrames
data = []

# Loop over all JSON files in the folder
for filename in glob.glob('../data/accelerometer/*.json'):
    with open(filename, 'r') as f:
        # Read the file and create a list of dictionaries from the weirdly formed JSON objects
        combined_json_data = f.read().replace('}{', '}},{{').split('},{')
        for json_data in combined_json_data:
            try:
                dictionnairy = json.loads(json_data)
                data.append(dictionnairy)
            except json.decoder.JSONDecodeError:
                print(filename)
                print(json_data)
                continue

#accelerometer_landing_df = pd.concat(dfs, ignore_index=True)
#accelerometer_landing_df.head()

../data/accelerometer/accelerometer-1655471583651.json
{"user":"Danny.Phillips@test.com","timeStamp":1655472103

In [28]:
pd.DataFrame(data)

                            user      timeStamp    x    y    z
0       Sarah.Jefferson@test.com  1655564090238  1.0 -1.0 -1.0
1       Sarah.Jefferson@test.com  1655564090238  0.0 -1.0  0.0
2       Sarah.Jefferson@test.com  1655564090238  1.0 -1.0  0.0
3       Sarah.Jefferson@test.com  1655564092471  1.0  0.0  0.0
4       Sarah.Jefferson@test.com  1655564092471  0.0  1.0  0.0
...                          ...            ...  ...  ...  ...
744401   Travis.Clayton@test.com  1655562728089  0.0  1.0  0.0
744402   Travis.Clayton@test.com  1655562728089  1.0  1.0 -1.0
744403   Travis.Clayton@test.com  1655562730989  1.0 -1.0  0.0
744404   Travis.Clayton@test.com  1655562730989 -1.0  1.0 -1.0
744405   Travis.Clayton@test.com  1655562730989 -1.0  1.0 -1.0

[744406 rows x 5 columns]

In [24]:
data
pd.DataFrame(data, index=[0])

                      user      timeStamp    x    y    z
0  Travis.Clayton@test.com  1655562730989 -1.0  1.0 -1.0

In [18]:
pd.DataFrame(data.values(), columns=["user", "timeStamp", "x", "y", "z"])

ValueError: Shape of passed values is (5, 1), indices imply (5, 5)

In [11]:
# Create an empty list to hold the DataFrames
df = pd.DataFrame()

# Loop over all JSON files in the folder
for filename in glob.glob('../data/customers/*.json'):
    with open(filename, 'r') as f:
        # Read the file and create a list of dictionaries from the JSON objects
        combined_json_data = f.read().replace('}{', '}},{{').split('},{')
        # combined_json_data = f'[{json_data}]'
        for json_data in combined_json_data:
            try:
                data = json.loads(json_data)
            except json.decoder.JSONDecodeError:
                print(filename)
                print(json_data)
                continue
df

../data/customers/customers-1655471583651.json
{"customerName":"Trevor Jefferson","email":
../data/customers/customers-1655293823654.json
{"custo
../data/customers/customers-1655296388814.json
{"customerName":"Danny Gonzalez","email":"Danny.Gonzalez@test.com","phone":"8015551212","birthDay":"1795-01-01","serialNumber":"2e34a651-5e26-4280-b30b-9f2066496a89","registrationDate":1655296159855,"lastUpdateDate":1655296388831,"shareWithResearchAsOfDate":1655296388831,"shareWithPubl
../data/customers/customers-1655295864820.json
{"customerName":"Bobby Clark","email":"Bobby.Clark@test.com","phone":"8015551212","birthDay":"1879-01-01","serialNumber":"54b577cf-bb80-4019-9e1c-5f9c53c4745f","registrationDate":1655293791716,"lastUpdateDate":1655296040782,"shareWithRese
../data/customers/customers-1655342868087.json

../data/customers/customers-1655296579520.json

Empty DataFrame
Columns: []
Index: []

In [6]:
df.head()

Empty DataFrame
Columns: []
Index: []